* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nave-containev {
  display: flex;
  /* width: 100vw; */
  justify-content: space-around;
  height: 120px;
  /* background-color: aqua; */
  justify-items: center;
  align-items: center;

}

.manu {
  display: flex;
  list-style: none;
  gap: 32px;
  text-align: center;

}

.manu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;


}

.nave-betn {
  background-color: #30B868;
  color: #FFFFFF;
  width: 164px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-size: 16px;



}

.logo-navbar {
  width: 139px;
  height: 60px;

}

.Early-Access-P {
  width: 229px;
  height: 35px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
}

.Structured {
  font-size: 72px;
  font-weight: 700;
  text-align: center;

}

.Early-Access-C {
  font-size: 16px;
  color: #30B868;

}

.Early-Access-P .early-access {
  width: 8px;
  height: 8px;
  background-color: #30B868;
  border: 4px solid #7bc499;
  border-radius: 50%;
  margin-right: 5px;

}

.hero-section {
  background-image: url(./assets/hero-bg.png);
  height: 674px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
