* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}



.nave-containev {
  display: flex;
  /* width: 100vw; */
  justify-content: space-around;
  height: 120px;
  /* background-color: aqua; */
  justify-items: center;
  align-items: center;

}

.manu {
  display: flex;
  list-style: none;
  gap: 32px;
  text-align: center;

}

.manu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;


}

.nave-betn {
  background-color: #30B868;
  color: #FFFFFF;
  width: 164px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;

}

.nave-betn:hover {
  background-color: #26553a;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.logo-navbar {
  width: 139px;
  height: 60px;

}

.Early-Access-P {
  width: 229px;
  height: 35px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  margin-bottom: 16px;
  margin-top: 140px;
}

.Structured {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);


}

.Structured-in {
  color: rgba(48, 184, 104, 1);
}

.hero-para {
  color: rgba(255, 255, 255, 0.74);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 32px;


}

.Early-Access-C {
  font-size: 16px;
  color: #30B868;


}

.Early-Access-P .early-access {
  width: 8px;
  height: 8px;
  background-color: #30B868;
  border: 4px solid #7bc499;
  border-radius: 50%;
  margin-right: 5px;

}

.hero-section {
  background-image: url(./assets/hero-bg.png);
  height: 674px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.button {
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.button-in:hover {
  background-color: #26553a;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.button-im:hover {
  background-color: #26553a;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.button-in {
  background-color: #30B868;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  width: 251px;
  height: 52px;
  color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  border: none;
  cursor: pointer;

}

.button-im {
  width: 198px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;


}

/* notes-section  */


.notes-section {
  width: 100vw;

}

.note-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;
  margin-top: 60px;

}

.note-section h2 {
  font-size: 48px;
  font-weight: 700;

}

.note-section p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;

}

.cad-section {

  display: flex;

  justify-content: center;
  align-items: center;
  width: 322px;
  height: 300px;
  background-color: #30B868;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  cursor: pointer;

}

.cad-section:hover {
  border-radius: 8px;
  box-shadow: 1px 1px 20px 0px rgba(14, 2, 2, 0.34);
  background: rgba(255, 255, 255, 1);
}

.cade-section {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;


}

.cad-section img {
  width: 40px;
  height: 40px;




}

.cad-section div {
  height: 60px;
  width: 60px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;



}

.cade-section h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #001931;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;


}

.cade-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382c7;
  text-align: center;

}

/* solition section  */



#soltion-section img:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.146);
  border-radius: 20px;
  cursor: pointer;
}

#soltion-section {
  display: flex;
  margin-top: 120px;
  padding: 0px 120px 120px 120px;
  gap: 60px;
}

.soltion-container h4 {
  margin-top: 102px;
  font-size: 16px;
  font-weight: 500;
  color: #469165;

}

.soltion-container h2 {
  margin-top: 16px;
  font-style: 48px;
  font-weight: bold;
  color: #001931;

}

.soltion-container p {
  margin-top: 16px;
  font-style: 16px;
  font-weight: 400;
  color: #627382;

}

.soltion-list {
  margin-top: 40px;
  gap: 20px;

}

.soltion-list-li {
  list-style: none;
  font-style: 16px;
  font-weight: 500;
  color: #001931;
  align-items: center;
  line-height: 1.5;
  margin-bottom: 16px;
  gap: 12px;


}

.soltion-list-li img {
  width: 20px;
  height: 20px;

}

#read-section {
  padding: 120px 120px 120px 120px;
}

.reads-section {
  padding: 80px 40px 80px 40px;
  background-color: #F7F6F2;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
}

.h-p-section h1 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
}

.h-p-section p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

.button-bttom {
  background-color: #469165;
  border: none;
  padding: 16px 12px;
  border-radius: 8px;
  margin-top: 24px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button-bttom:hover {
  background-color: #26553a;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.button-bttom-p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

/* footer section */


#footer {
  height: 348px;
  width: auto;
  background-color: #001931;
}

.footer-info {
  padding: 120px 120px 80px 120px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.footer-logo {
  margin-top: 16px;
  gap: 16px;



}

.footer-logo img {
  border-radius: 50%;

}

.footer-bottom {
  height: 1.5px;
  gap: 80px;
  margin-top: 80px;

}

.footer-bottom-p p {
  margin-top: 16px;
  color: #FAFAFA;
  text-align: center;
  font-size: 16px;
  font-weight: 400;

}
