body {
  font-family: "Open Sans", sans-serif;

}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nave-containev {
  display: flex;
  /* width: 100vw; */
  justify-content: space-around;
  height: 120px;
  /* background-color: aqua; */
  justify-items: center;
  align-items: center;

}

.manu {
  display: flex;
  list-style: none;
  gap: 32px;
  text-align: center;

}

.manu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;


}

.nave-betn {
  background-color: #30B868;
  color: #FFFFFF;
  width: 164px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-size: 16px;



}

.logo-navbar {
  width: 139px;
  height: 60px;

}

.Early-Access-P {
  width: 229px;
  height: 35px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  margin-bottom: 16px;
  margin-top: 140px;
}

.Structured {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);


}

.Structured-in {
  color: rgba(48, 184, 104, 1);
}

.hero-para {
  color: rgba(255, 255, 255, 0.74);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 32px;


}

.Early-Access-C {
  font-size: 16px;
  color: #30B868;


}

.Early-Access-P .early-access {
  width: 8px;
  height: 8px;
  background-color: #30B868;
  border: 4px solid #7bc499;
  border-radius: 50%;
  margin-right: 5px;

}

.hero-section {
  background-image: url(./assets/hero-bg.png);
  height: 674px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.button {
  display: flex;
  gap: 16px;
}

.button-in {
  background-color: #30B868;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  width: 251px;
  height: 52px;
  color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  border: none;

}

.button-im {
  width: 198px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 1);


}
